@model IEnumerable<BOL.tbl_Url>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage URLs</h2>

@if (ViewBag.Status == "P")
{
    <b>@Html.ActionLink("Pending Urls", "Index", new { status = "P"})</b>
}
else
{
    @Html.ActionLink("Pending Urls", "Index", new { status = "P" })
}
|
@if (ViewBag.Status == "A")
{
    <b>@Html.ActionLink("Approved Urls", "Index", new { status = "A" })</b>
}
else
{
    @Html.ActionLink("Approved Urls", "Index", new { status = "A" })
}
|
@if (ViewBag.Status == "R")
{
    <b>@Html.ActionLink("Rejected Urls", "Index", new { status = "R" })</b>
}
else
{
    @Html.ActionLink("Rejected Urls", "Index", new { status = "R" })
}

<!-- Partial view for grid-->
<div id="data">
    @Html.Partial("pv_ApproveUrl", Model)
</div>

<input type="button" id="Approve" value="Approve" class="btn btn-primary" /> |
<input type="button" id="Reject" value="Reject" class="btn btn-primary"/>

<!-- Modal Loading -->

<div id="loading" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>*@
                <h4 class="modal-title">Loading</h4>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div class="progress-bar" style="width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function() {

            $(document).ajaxStart(function() {
                $('#loading').show();
            });

            $(document).ajaxStop(function() {
                $('#loading').hide();
            });

            BindSelectAll();

            $('#Approve').click(function() {
                // check all checkboxes and store it as an array
                checkedIds = $('.ckb').filter(":checked").map(function() { return this.id; });

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ApproveOrRejectAll", "ApproveUrl")',
                    traditional: true, // this is needed for MVC ajax calling process
                    data: { Ids: checkedIds.toArray(), Status: '@BOL.Url.StatusAuthorized.Value', CurrentStatus: '@ViewBag.Status' },
                    success: successFunc,
                    error: errorFunc
                });
            });

            $('#Reject').click(function() {
                // check all checkboxes and store it as an array
                checkedIds = $('.ckb').filter(":checked").map(function() { return this.id; });

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ApproveOrRejectAll", "ApproveUrl")',
                    traditional: true, // this is needed for MVC ajax calling process
                    data: { Ids: checkedIds.toArray(), Status: '@BOL.Url.StatusRejected.Value', CurrentStatus: '@ViewBag.Status' },
                    success: successFunc,
                    error: errorFunc
                });

            });

            function successFunc(data, status) {
                $('#data').html(data);
                BindSelectAll();
            }

            function errorFunc() {
                alert('error!');
            }

        });


        function BindSelectAll() {
            $("#SelectAll").click(function (event) { // our main ckBox
                if (this.checked) { // check status if checked
                    $(".ckb").each(function () { // loop through all individuals checkbox
                        this.checked = true;
                    });
                } else {
                    $(".ckb").each(function () {
                        this.checked = false;
                    });
                }
            });
        }


        function ConfirmApprove() {
            return confirm("Are u sure u want to approve?");
        }

        function ConfirmReject() {
            return confirm("Are u sure u want to Reject this url?");
        }
    </script>
}
