@model IEnumerable<BOL.tbl_Category>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories @Html.ActionLink("Create New", "Index", "AddCategory", null, new { @class = "btn btn-default pull-right" })</h2>
@if (TempData["Msg"] != null)
{
    <h3>
        @TempData["Msg"].ToString()
    </h3>
}

<p>

</p>
<table class="table table-hover table-striped table-responsive">
    <tr class="warning">
        <th>
            <!--This will give us 2 query string : http://localhost:51321/Common/BrowseUrl?SortOrder=Asc&SortBy=Title -->
            @Html.ActionLink("Category Name", "Index",
                     new { sortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), sortBy = "CategoryName", page = (ViewBag.TotalPages == null ? "1" : ViewBag.Page) })
        </th>
        <th>
            @Html.ActionLink("Category Description", "Index",
                                  new { sortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), sortBy = "CategoryDesc", page = (ViewBag.TotalPages == null ? "1" : ViewBag.Page) })
        </th>
        <th>Delete</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.c_CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.c_CategoryDesc)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.i_CategoryId }, new { onclick = "return ConfirmDelete()" })
            </td>
        </tr>
    }

</table>
@{
    double TotalPages = ViewBag.TotalPages;
}
<ul class="pagination">
    @for (int i = 1; i <= TotalPages; i++)
    {
        if (i == ViewBag.Page) // bold it
        {
            <li class="active">
                @Html.ActionLink(i.ToString(), "Index",
            new { sortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), sortBy = (ViewBag.SortBy == null ? "CategoryName" : ViewBag.SortBy), page = i })

            </li>
        }
        else
        {
            <li>
                @Html.ActionLink(i.ToString(), "Index",
                 new { sortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), sortBy = (ViewBag.SortBy == null ? "CategoryName" : ViewBag.SortBy), page = i })
            </li>
        }
    }
</ul>


@section scripts
    {
    <script>
        function ConfirmDelete() {
            return confirm('Are you sure you want to delete?');
        }
    </script>
}


