@model IEnumerable<BOL.tbl_Url>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>URLs</h2>

<table class="table">
    <tr>
        <th>
            <!--This will give us 2 query string : http://localhost:51321/Common/BrowseUrl?SortOrder=Asc&SortBy=Title -->
            @Html.ActionLink("Title", "Index", 
            new { sortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc" )) , sortBy = "Title" })
        </th>
        <th>
            @Html.ActionLink("Url", "Index",
            new { sortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), sortBy = "Url" })
        </th>
        <th>
            @Html.ActionLink("Description", "Index",
            new { sortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), sortBy = "Description" })
        </th>
        <th>
            @Html.ActionLink("Category", "Index",
            new { sortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), sortBy = "Category" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.c_UrlTitle)
        </td>
        <td>
            <a target="_blank" href="@item.c_Url">@item.c_Url</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.c_UrlDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Category.c_CategoryName)
        </td>
    </tr>
}

</table>
