@model IEnumerable<BOL.tbl_User>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<table class="table table-hover table-striped table-responsive">
    <tr class="warning">
        <th>
            <!--This will give us 2 query string : http://localhost:51321/Common/BrowseUrl?SortOrder=Asc&SortBy=Title -->
            @Html.ActionLink("User Email", "Index",
            new { sortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), sortBy = "UserEmail", page = (ViewBag.TotalPages == null ? "1" : ViewBag.Page) })
        </th>
        <th>
            @Html.ActionLink("Role", "Index",
                         new { sortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), sortBy = "Role", page = (ViewBag.TotalPages == null ? "1" : ViewBag.Page) })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a target="_blank" href="#">@item.c_UserEmail</a> <!-- if admin ->  should bring to user account-->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.c_Role)
            </td>
        </tr>
    }

</table>
@{
    double TotalPages = ViewBag.TotalPages;
}
<ul class="pagination">
    @for (int i = 1; i <= TotalPages; i++)
    {
        if (i == ViewBag.Page) // bold it
        {
            <li class="active">
                @Html.ActionLink(i.ToString(), "Index",
            new { sortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), sortBy = (ViewBag.SortBy == null ? "UserEmail" : ViewBag.SortBy), page = i })
            </li>
        }
        else
        {
            <li>
                @Html.ActionLink(i.ToString(), "Index",
            new { sortOrder = (ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder), sortBy = (ViewBag.SortBy == null ? "UserEmail" : ViewBag.SortBy), page = i })
            </li>
        }
    }
</ul>

