@model BOL.tbl_User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
@if (TempData["Msg"] != null)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>@TempData["Msg"].ToString()</strong>
    </div>
}

@using (Html.BeginForm("SignIn", "Login", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.c_UserEmail, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.c_UserEmail, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.c_UserEmail, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.c_Password, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.c_Password, new {htmlAttributes = new {@class = "form-control", @type = "password"}})
                @Html.ValidationMessageFor(model => model.c_Password, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default"/> Or
                <button class="signin-google btn btn-danger">SignIn with Google</button>
            </div>
        </div>
    </div>
}


@section scripts
{
    <script src="https://cdn.auth0.com/w2/auth0-6.7.min.js"></script>
    <script>
        var auth0 = new Auth0({
            domain: 'goodrow.auth0.com',
            clientID: '8k97OGWJIe3H6tb8ZEUiUjhbsQvnuDqQ',
            callbackURL: 'http://localhost:51321/LoginCallback.ashx'
        });

        // sign-in with social provider with plain redirect
        $('.signin-google').on('click', function () {
            auth0.signin({ connection: 'google-oauth2' }); // use connection identifier
        });

    </script>
}



